.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: rgb(63,81,181);
    color: #fff;
    height: 90px;
    z-index: 25;

    button,
    a {
        text-align: center;

        .fa {
            font-size: 22px;
            vertical-align: middle;
        }
    }
}
.language {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
}
.main-menu {

    .md-theme-light {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .md-toolbar-tools {
        width: auto;
    }
}
.menu {
    margin: 0;
    padding: 0;

    .menu-item {

        .md-button {
            margin: 0;
            width: 100%;
            text-align: left;
            border-radius: 0;
            padding: 10px 15px;
        }
    }
}