<div class="main-content" layout="column" layout-align="center center">
    <div class="align-center">
        <div><img src="assets/images/check.png" alt="image"></div>
        <div>
            <h1 translate="registration_was_complited"></h1>
            <p translate="click_to_login"></p>
            <div class="btn-holder">
                <md-button ui-sref="user_profile" class="md-raised md-primary" translate="btn_to_login" aria-label="btn_to_login"></md-button>
            </div>
        </div>
    </div>
</div>